
.home_main{
    height: 100%;
}
.home_main .admin_home{
    height: 100%;
}
.home_main .gestor_home{
    height: 60%;
}
.responsable_home{
    height: 89%;
    width: 100%;
}
.responsable_main{
    height: 70vh;
    width: 90%;
}
.length-responsable{
    height: 10%;
}

.card_table {
    border-collapse: collapse;
    width: 100%;
}

.card_table thead {
    position: sticky;
    top: 0;
    background-color: whitesmoke; /* O el color que prefieras */
    z-index: 1;
}
.card_table .no_main {
    position: sticky; /* Fija la cabecera */
    top: 0; /* Posiciona en la parte superior */
    z-index: 2; /* Asegúrate de que el encabezado esté encima de otras partes */
}
.table-row th {
    text-align: center;
    border-top: none;
    font-weight: bold;
    padding: 8px; /* Añade padding si es necesario */
    height: 60px;
    font-size: 0.8em;
    padding-left: 20px;
}


.table-row td {
    text-align: center;
    height: 60px; /* Altura fija para los th y td */
    border-top: 1px solid black;
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
    padding: 8px; /* Añade padding si es necesario */
    padding-left: 20px;
}


.table-row svg{
    background-color: rgba(128, 128, 128, 0.555);
    border-radius: 100px;
    padding: 5px;
    cursor: pointer;
}

.archive_responsable {
    padding: 0px 20px;
    width: 200px;
}

.archive_responsable .archive {
    cursor: pointer;
    background-color: #e5f301FF;
    border-radius: 20px;
    width: 150px; /* Ajusta el ancho de la caja */
    height: 35px;
    display: flex;
    align-items: center;
}
.archive_responsable p{
    text-align: center;
}
.archive_responsable .archive p {
    margin: 10px;
    display: block; /* Cambiar de flex a block */
    max-width: 100%; /* Asegura que el ancho máximo sea el del contenedor padre */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Asegura que el contenido desbordante no se muestre */
    text-overflow: ellipsis; /* Aplica los puntos suspensivos al final del texto */
}

.archive_responsable .archive_button{
    background-color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
}
.archive_responsable .archive_button:hover{
    background-color: orange;
}

.home_hub{
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide en 4 columnas iguales */
}
.close-icon {
    z-index: 9999;
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
}

.big_card{
    padding: 20px;
    width: 100vh;
    height: 40vh;
}

.small_card{
    padding: 20px;
    width: 60vh;
    height: 40vh;
}

/* ADMIN */
.bussines_box{
    height: 100%;
}
.bussines_div{
    height: 90%;
}
.admin_boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: start;
    height: 90%;
    width: 100%;
    padding: 0px 80px;
}
  
.bussiness_boxes {
    cursor: pointer;
    height: 260px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.26);
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bussiness_boxes h3{
    margin-top: 10px;
}
.bussiness_boxes:hover{
    background-color: rgba(184, 184, 184, 0.26);
}


.upper_box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    padding: 0px;
    border-radius: 30px;
    margin: 20px 0px;
}

.upper_box .text{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.upper_box .number{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
.main_action{
    height: 100%;
}

.riesgos_controles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.riesgos_controles div{
    background-color: #e5f301FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 40px;
    width: 50px;
    padding: 10px;
    margin: 10px;
    
}
.total_add{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.total_add svg{
    margin-right: 200px;
    background-color: #e5f301FF;
    border-radius: 100px;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.card_option .table-container{
    background-color: whitesmoke;
    height: 100%;
    padding: 0px 0px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
}

.skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
  }
  
  /* Animación para el efecto de esqueleto */
  @keyframes skeleton-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}

.skeleton-text {
    width: 100%; /* Ajusta esto para simular el ancho de una línea de texto */
    height: 16px; /* Ajusta la altura según el tamaño del texto */
  }